
.hero{
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8)
      ), url('/america.jpg') ;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 65px;
    width: 100%;
    z-index: -1;
    height: 500px;
}

.herocontent{
    display: flex;
    
    height: 500px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    background-color: transparent;
}
.container_page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 86px;
  }

.herocontent h2{
    font-size: 45px;
    color: #fff;
    width: 700px;
 
}
.herocontent h3{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    width: 600px;
    margin: 0;
}

@media  (max-width: 1366px) {
    .container_page{
      padding: 0 43px;
  
    }
  }
  @media  (max-width: 1007px) {
    .container_page{
      padding: 0 22px;
  
    }
  }