
.collection{
    margin-top: 65px;
}

.collection h2{
  text-align: center;
  font-size: 48px;
}
.section {
    display: flex;
    justify-content: space-between;
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  .card {
    width: 100%;
    position: relative;
  }
  
  .item {
    padding-top: 15px;
  }
  .item a {
    font-size: 18px;
    font-weight: 600;
    color: #161b3d;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    letter-spacing: 0;
  }
  
  .item p {
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
  }

  @media  (max-width: 850px) {
  .grid{
    grid-template-columns: 1fr;
  }
  }
  @media  (max-width: 500px) {
    .collection {
     margin-top: 10px;
    }
    
    .collection h2{
      text-align: center;
      font-size: 35px;
    }
    }
    
  